{% extends 'base_end.html' %}

{% block content %}
<div id="inex_280" style="margin:0; padding:0" class="col-10 col-sm-10 col-md-8 col-lg-6 border">
    <section class="position-relative border">
              <h1 style="font-weight: bold;" class="text-dark fs-7 ps-2 pb-2">Messanges</h1>  
    </section>
    <section>
      <div class="text-dark twitter-feed border inex_280">

        <div class="px-3 py-2 border-bottom d-flex flex-nowrap third_post">
          <div class="d-flex justify-content-start">
            <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="avatar" class="mt-2">
          </div>
          <div class="post-content">
            <div class="post-header-text">
              <h3 class="ps-2 pt-1 fs-6 fw-bold">
                Emil Sundén
                <span class="fs-6 fw-lighter">
                  <span class="material-icons fs-6 text-info">
                    verified </span>@ZemiHD 1w
                </span>
              </h3>
            </div>
            <p class="ms-2 post-text">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>

        <div class="px-3 py-2 border-bottom-0 d-flex flex-nowrap fourth-post">
          <div class="d-flex justify-content-start">
            <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="avatar" class="mt-2">
          </div>
          <div class="post-content">
            <div class="post-header-text">
              <h3 class="ps-2 pt-1 fs-6 fw-bold">
                Emil Sundén
                <span class="fs-6 fw-lighter">
                  <span class="material-icons fs-6 text-info">
                    verified </span>@ZemiHD 1y
                </span>
              </h3>
            </div>
            <p class="ms-2 post-text">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}