{% extends 'base_end.html' %}

{% block content %}
<div id="inex_280" class="col-10 col-sm-10 col-md-8 col-lg-6">
    <section class="position-relative border p-2">
      <h1 style="font-weight: bold;" class="text-dark fs-7 ps-2 pb-2">Natifications</h1>
    </section>
    <section>
      <div style="height:300px" class="text-dark twitter-feed border ">
        <div class="px-3 py-2  d-flex flex-nowrap first_post">
          <h2>welcome  &#128175 {{user.username}} &#128175</h2>     
         </div>
        <!-- Mock Tweet End-->
      </div>
    </section>
  </div>



{% endblock %}